@import "tailwindcss";

@theme {
  --color-main: #ff5c00;
  --color-secondary: #32cd32;
  --color-territary: #1a1a1a;
  --color-neutral: #0d0d0d;
  --color-white-50: #d1e6ff;

  --font-main: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-secondary: "BenchNine", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@utility center-elements {
  @apply flex items-center justify-center;
}

@utility page-container {
  @apply relative isolate flex min-h-screen w-full flex-col items-center gap-5 overflow-hidden px-4 py-10;
}

@utility paragraph {
  @apply w-xs text-lg sm:w-lg md:text-xl;
}

@layer components {
  .main-btn {
    @apply border-main text-main inline-flex w-fit cursor-pointer items-center justify-center gap-2 border px-7 py-3 text-lg uppercase lg:px-10;
    @apply hover:bg-main transition-all duration-300 hover:text-black;
  }
}

@layer base {
  body {
    @apply bg-territary;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.border-card {
  position: relative;
  /* Removed z-index: 0 so it doesn't create a local stacking context that traps the background behind pseudo-elements */
}

.border-card::after,
.border-card::before {
  --angle: 0deg;
  content: "";
  position: absolute;
  inset: -2px; /* This expands the pseudo-element 2px outwards on all sides */
  z-index: -2;
  background-image: conic-gradient(
    from var(--angle),
    transparent 70%,
    var(--color-main)
  );
  border-radius: inherit; /* This ensures the pseudo-element has the same border-radius as the parent */
  animation: rotate 4s linear infinite;
}
.border-card::before {
  filter: blur(4px); /* This creates the glowing effect */
}

@keyframes rotate {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
